body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1c4c15;
    color: #fff;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left h1 {
    margin-left: 10px;
}

.header-right .nav-button {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header-right .nav-button:hover {
    background-color: #555;
}

.header-right .nav-button.active {
    background-color: #007bff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.app-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.app-description {
    margin-top: 20px;
}

.accordion {
    margin-top: 20px;
}

.accordion-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    transition: background-color 0.3s;
}

.accordion-button:hover {
    background-color: #0056b3;
}

.accordion-content {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.accordion-content ul,
.accordion-content ol {
    margin: 0;
    padding-left: 20px;
}

.module {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icon {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #007bff;
}
